{% extends "../layout.twig" %}

{% block title %}
    {{ trans('common.login') }}
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1 class="page-header">{{ trans('common.passReminder') }}</h1>

        <form action="{{ action('UserController@postRemind') }}" method="POST" role="form">
            <div class="form-group">
                <label for="email">{{ trans('common.email') }}</label>
                <input type="email" name="email" class="form-control" placeholder="{{ trans('common.email') }}">
            </div>

            <button type="submit" class="btn btn-default">{{ trans('common.sendReminder') }}</button>
        </form>
    </div>
{% endblock %}

{% block header_region %}
{% endblock %}

{% block footer_region %}
{% endblock %}
