{% macro menuTree(menu) %}
    {% for link in menu %}
        <li>
            {% if link.children is defined %}
                <a href="#">Link id: {{ link.id }} path: {{ link.path }} <i class="fa arrow"></i></a>
                <ul class="nav collapse">
                    {{ _self.menuTree(link.children) }}
                </ul>
            {% else %}
                <a href="#">Link id: {{ link.id }} path: {{ link.path }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul class="nav nav-pills nav-stacked">
    {{ macros.menuTree(menu) }}
</ul>
