{% macro menuTree(menu) %}
    {% for link in menu %}
        <li{{ (url_full() ==  link.url) ? ' class="active"' : '' }}>
            {% if link.children %}
                <a href="#" title="{{ trans(link.title) }}">{{ trans(link.title) }} <i class="fa arrow"></i></a>
                <ul class="nav collapse">
                    {{ _self.menuTree(link.children) }}
                </ul>
            {% else %}
                <a href="{{ link.url }}" title="{{ trans(link.title) }}">{{ trans(link.title) }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul class="nav nav-pills nav-stacked" role="navigation">
    {{ macros.menuTree(user_menu()) }}
</ul>
