{% extends "../layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jquery.metisMenu.css">
{% endblock head %}

{% block title %}
    {{ trans('common.account') }}
{% endblock title %}

{% block content %}
    <div class="col-md-3" role="navigation">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> {{ trans('user.my_account') }}
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#">{{ trans('user.edit_account') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_route('logout') }}">{{ trans('common.logout') }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-dollar fa-fw"></i>{{ trans('user.payments') }} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#">{{ trans('user.edit_billing_informations') }}</a>
                    </li>
                    <li>
                        <a href="#">{{ trans('user.my_subscriptions') }}</a>
                    </li>
                    <li>
                        <a href="#">{{ trans('user.my_invoices') }}</a>
                    </li>
                </ul>

            </li>
        </ul>
        <!-- /#side-menu -->
    </div>

    <div class="col-md-9">
        <h1>{{ trans('common.account') }}</h1>

        <h3>User</h3>

        <p>Login: {{ auth_user().email }}</p>

        <p>{{ trans('common.password') }}: {{ auth_user().password }}</p>

        <p>Remember token: {{ auth_user().rememberToken|default('empty') }}</p>

        <a href="{{ url_route('logout') }}"
           title="{{ trans('common.logout') }}"
           class="btn btn-danger">{{ trans('common.logout') }}</a>
    </div>
{% endblock %}

{% block header_region %}
{% endblock %}

{% block footer_region %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/jquery.metisMenu.js"></script>
    <script>
        $(function () {
            $("#side-menu").metisMenu({
                toggle: false
            });
        });
    </script>
{% endblock %}
