<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - G-ZERO CMS</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.metisMenu.css">
        <style>
            body {
                background-color : #f5f5f5;
            }

            .user-nav .dropdown-toggle {
                padding : 6px 20px;
            }

            .user-nav .dropdown-toggle img {
                margin-right       : 6px;
                width              : 35px;
                height             : 35px;
                -webkit-box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                -moz-box-shadow    : 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                box-shadow         : 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            }

            .user-nav .dropdown-menu li a i {
                color : #efefef;
            }

            .user-nav .dropdown-menu li a:hover i {
                color : #686868;
            }

            .user-nav .dropdown-menu li.active a:hover i {
                color : #FFF;
            }

            .nav-stacked li {
                border-bottom : 1px solid #e7e7e7;

            }

            .nav-stacked ul li:last-child {
                border-bottom : none;

            }

            .nav-stacked li a {
                padding : 10px 20px;
            }

            .nav-stacked ul a {
                padding    : 10px 30px;
                background : #FAFAFA;
            }

            #wrapper {
                background-color : #FFF;
                padding-bottom   : 40px;
            }

            #footer {
                width  : 100%;
                height : 60px;
            }

            .container .text-muted {
                margin : 20px 0;
            }

            /* Main marketing message and sign up button */
            .jumbotron {
                text-align       : center;
                background-color : transparent;
            }

            .jumbotron .btn {
                padding   : 14px 24px;
                font-size : 21px;
            }
        </style>
    {% endblock %}
</head>

<body>
<div id="wrapper">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_route('home') }}">G-ZERO CMS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li{{ (url_full() ==  url_route('home')) ? ' class="active"' : '' }}>
                        <a href="{{ url_route('home') }}">Home</a>
                    </li>
                </ul>
                {% if not auth_user() %}
                    <ul class="nav navbar-nav navbar-right">
                        <li{{ (url_full() ==  url_route('login')) ? ' class="active"' : '' }}>
                            <a href="{{ url_route('login') }}">{{ trans('common.login') }}</a>
                        </li>
                        <li{{ (url_full() ==  url_route('register')) ? ' class="active"' : '' }}>
                            <a href="{{ url_route('register') }}">{{ trans('common.register') }}</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right user-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/claudioguglieri/48.jpg" alt="@soffes"
                                     class="img-circle"> {{ auth_user().getfirstName() }} {{ auth_user().getlastName() }}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li{{ (url_full() ==  url_route('account')) ? ' class="active"' : '' }}>
                                    <a href="{{ url_route('account') }}">
                                        {{ trans('user.my_account') }} <i class="fa fa-user pull-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">{{ trans('user.edit_account') }} <i class="fa fa-pencil pull-right"></i></a>
                                </li>
                                <li>
                                    <a href="#">{{ trans('user.get_help') }} <i class="fa fa-question-circle pull-right"></i></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_route('logout') }}">
                                        {{ trans('common.logout') }} <i class="fa fa-sign-out fa-fw pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>

                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    {% block header_region %}
        {% if regions['header'] is defined %}
            <div class="container">
                <div class="row">
                    {% for block in regions['header'] %}
                        <div class="col-md-6">
                            {{ block.view|raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endif %}
    {% endblock %}

    <!-- Begin page content -->
    <div id="content" class="container">
        {% block sidebar_left %}
        {% endblock %}

        {% block content %}
            <div class="jumbotron">
                <h1>Marketing stuff!</h1>

                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                    commodo,
                    tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>

                <p><a class="btn btn-lg btn-success" href="{{ url_route('register') }}" role="button">Get started today</a></p>
            </div>
        {% endblock %}

        {% block sidebar_right %}
        {% endblock %}
    </div>
    {% block footer_region %}
        {% if regions['footer'] is defined %}
            <hr>
            <div class="container">
                <div class="row">
                    {% for block in regions['footer'] %}
                        <div class="col-md-4">
                            {{ block.view|raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>
<div id="footer">
    <div class="container">
        {% block footer %}
            <p class="text-muted">&copy; Copyright 2011 by G-ZERO</p>
        {% endblock %}
        <script src="/js/common.js"></script>
        <script src="/js/jquery.metisMenu.js"></script>
        <script>
            $(function () {
                $(".nav-stacked").metisMenu({
                    toggle: false
                });
            });
        </script>
    </div>
</div>
</body>
</html>
