{% extends "../layout.twig" %}
{% set activeTranslation = getTranslation(content.translations, lang.code) %}
{% set activeRoute = getTranslation(content.route.translations, lang.code) %}

{% block title %}
    {{ activeTranslation.title }}
{% endblock %}

{% block content %}
    <h1 class="page-header">{{ activeTranslation.title }}</h1>
    <p>
        {{ activeTranslation.body }}
    </p>
    <p>
        <strong>
            <small>DETAILS:</small>
        </strong>
        <code>
            ID: {{ content.id }}

            Type: {{ content.type }}

            Path: {{ content.path }}

            Author: {{ content.author.firstName }} {{ content.author.lastName }}
        </code>
        <br/>
        Link to this site: {{ link_to(activeRoute.langCode ~ '/' ~ activeRoute.url, 'Click!') }}

    </p>
{% endblock %}
